In [1]:
%run create_tables.py

In [2]:
%run etl.py

34 files found in data/song_data
File: /user/app/proyectodtp/data/song_data/A/TRABAIO128F42938F9.json ; Records: 1
1/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABATO128F42627E9.json ; Records: 1
2/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAVQ12903CBF7E0.json ; Records: 1
3/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAXR128F426515F.json ; Records: 1
4/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAFJ128F42AF24E.json ; Records: 1
5/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAFP128F931E9A1.json ; Records: 1
6/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAWW128F4250A31.json ; Records: 1
7/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAXL128F424FC50.json ; Records: 1
8/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABACN128F425B784.json ; Records: 1
9/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAZH128F930419A.json ; Records: 1
10/34 files processed.
File: /user/app/proyectodtp/data/song_data/A/TRABAXV128F92F6AE3.json ; Records: 1
11/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBKX128F4285205.json ; Records: 1
12/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBAM128F429D223.json ; Records: 1
13/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBOR128F4286200.json ; Records: 1
14/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBBV128F42967D7.json ; Records: 1
15/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBOP128F931B50D.json ; Records: 1
16/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBNP128F932546F.json ; Records: 1
17/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBLU128F93349CF.json ; Records: 1
18/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBXU128F92FEF48.json ; Records: 1
19/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBVJ128F92F7EAA.json ; Records: 1
20/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBZN12903CD9297.json ; Records: 1
21/34 files processed.
File: /user/app/proyectodtp/data/song_data/B/TRABBTA128F933D304.json ; Records: 1
22/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCAJ12903CDFCC2.json ; Records: 1
23/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCKL128F423A778.json ; Records: 1
24/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCFL128F149BB0D.json ; Records: 1
25/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCRU128F423F449.json ; Records: 1
26/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCEC128F426456E.json ; Records: 1
27/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCUQ128E0783E2B.json ; Records: 1
28/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCYE128F934CE1D.json ; Records: 1
29/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCIX128F4265903.json ; Records: 1
30/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCXB128F4286BD3.json ; Records: 1
31/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCTK128F934B224.json ; Records: 1
32/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCPZ128F4275C32.json ; Records: 1
33/34 files processed.
File: /user/app/proyectodtp/data/song_data/C/TRABCEI128F424C983.json ; Records: 1
34/34 files processed.
****************************************
Number of rows proccesed in song_data: 34
****************************************
30 files found in data/log_data
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-13-events.json ; Records: 339

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

1/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-12-events.json ; Records: 166
2/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-04-events.json ; Records: 144

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

3/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-03-events.json ; Records: 100
4/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-01-events.json ; Records: 11
5/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-10-events.json ; Records: 87
6/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-24-events.json ; Records: 314

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

7/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-18-events.json ; Records: 138
8/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-14-events.json ; Records: 390

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

9/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-22-events.json ; Records: 82
10/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-26-events.json ; Records: 216

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

11/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-20-events.json ; Records: 322

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

12/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-06-events.json ; Records: 154
13/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-07-events.json ; Records: 174

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

14/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-05-events.json ; Records: 356

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

15/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-23-events.json ; Records: 239
16/30 files processed.

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-29-events.json ; Records: 319

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

17/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-15-events.json ; Records: 479

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

18/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-28-events.json ; Records: 363

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

19/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-27-events.json ; Records: 256
20/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-19-events.json ; Records: 276

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

21/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-25-events.json ; Records: 41
22/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-16-events.json ; Records: 319

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

23/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-09-events.json ; Records: 252

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

24/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-17-events.json ; Records: 127
25/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-02-events.json ; Records: 155

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

26/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-08-events.json ; Records: 161
27/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-30-events.json ; Records: 330

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

28/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-11-events.json ; Records: 73
29/30 files processed.
File: /user/app/proyectodtp/data/log_data/2018/11/2018-11-21-events.json ; Records: 437

/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)
/user/app/proyectodtp/etl.py:100: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cur.execute(user_table_insert, row)

30/30 files processed.
****************************************
Number of rows proccesed in log_data: 6820
****************************************

In [13]:
import pandas as pd
print(pd.__version__)

2.2.0

In [16]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/site-packages (2.0.27)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (4.9.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in /usr/local/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 kB 2.6 MB/s eta 0:00:00
Collecting prettytable
  Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.9/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.9/site-packages (from ipython-sql) (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: stack-data in /usr/local/lib/python3.9/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /usr/local/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /usr/local/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: executing>=1.2.0 in /usr/local/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Installing collected packages: ipython-genutils, sqlparse, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.10.0 sqlparse-0.4.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [3]:
%load_ext sql

In [4]:
%sql postgresql://anthonylinux:wolfteam158@192.168.1.100/sparkifydb

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
5 rows affected.

[(1, datetime.time(0, 40, 37, 796000), 66, 'free', None, None, 514, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.time(1, 12, 29, 796000), 51, 'free', None, None, 510, 'Houston-The Woodlands-Sugar Land, TX', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.time(3, 19, 2, 796000), 9, 'free', None, None, 379, 'Eureka-Arcata-Fortuna, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'),
 (4, datetime.time(3, 51, 52, 796000), 49, 'free', None, None, 506, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5, datetime.time(5, 0, 6, 796000), 94, 'free', None, None, 492, 'Ogden-Clearfield, UT', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0')]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
5 rows affected.

[(87, 'Dustin', 'Lee', 'M', 'free'),
 (67, 'Colm', 'Santana', 'M', 'free'),
 (94, 'Noah', 'Chavez', 'M', 'free'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (60, 'Devin', 'Larson', 'M', 'free')]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
5 rows affected.

[('SOZHPGD12A8C1394FE', 'Baby Come To Me', 'AR9AWNF1187B9AB0B4', 0, Decimal('236.93016')),
 ('SOSLAVG12A8C13397F', 'Den Pai Alo', 'AROGWRA122988FEE45', 0, Decimal('243.82649')),
 ('SOTTDKS12AB018D69B', 'It Wont Be Christmas', 'ARMBR4Y1187B9990EB', 0, Decimal('241.47546')),
 ('SODUJBS12A8C132150', 'Wessex Loses a Bride', 'ARI2JSK1187FB496EF', 0, Decimal('111.62077')),
 ('SOPVXLX12A8C1402D5', 'Larger Than Life', 'AR3JMC51187B9AE49D', 1999, Decimal('236.25098'))]

In [8]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
5 rows affected.

[('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', 'NaN', 'NaN'),
 ('AROGWRA122988FEE45', 'Christos Dantis', '', 'NaN', 'NaN'),
 ('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', '37.77916', '-122.42005'),
 ('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', '51.50632', '-0.12714'),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', '28.53823', '-81.37739')]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
5 rows affected.

[(datetime.time(0, 40, 37, 796000), 0, 13, 46, 11, 2018, '1'),
 (datetime.time(1, 12, 29, 796000), 1, 13, 46, 11, 2018, '1'),
 (datetime.time(3, 19, 2, 796000), 3, 13, 46, 11, 2018, '1'),
 (datetime.time(3, 51, 52, 796000), 3, 13, 46, 11, 2018, '1'),
 (datetime.time(5, 0, 6, 796000), 5, 13, 46, 11, 2018, '1')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

# Checking The Data:
Since this is a subset of the much larger dataset, the solution dataset will only have 1 row with values for value containing ID for both songid and artistid in the fact table. Those are the only 2 values that the query in the sql_queries.py will return that are not-NONE. The rest of the rows will have NONE values for those two variables.

In [10]:
%sql SELECT * FROM songplays where song_id is not null or artist_id is not null

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
0 rows affected.

[]

In [11]:
%sql SELECT COUNT(*) FROM users

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
1 rows affected.

[(96,)]

In [12]:
%sql SELECT COUNT(*) FROM artists

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
1 rows affected.

[(34,)]

In [13]:
%sql SELECT COUNT(*) FROM songs

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
1 rows affected.

[(34,)]

In [14]:
%sql SELECT COUNT(*) FROM time

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
1 rows affected.

[(6527,)]

In [15]:
%sql SELECT COUNT(*) FROM songplays

 * postgresql://anthonylinux:***@192.168.1.100/sparkifydb
1 rows affected.

[(6820,)]