In [9]:
%run create_tables.py

In [10]:
%run etl.py

71 files found in data/song_data
File: /workspace/home/data/song_data/A/B/B/TRABBNP128F932546F.json ; Records: 1
1/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBXU128F92FEF48.json ; Records: 1
2/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBZN12903CD9297.json ; Records: 1
3/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBJE12903CDB442.json ; Records: 1
4/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBKX128F4285205.json ; Records: 1
5/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBBV128F42967D7.json ; Records: 1
6/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBTA128F933D304.json ; Records: 1
7/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBLU128F93349CF.json ; Records: 1
8/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBOR128F4286200.json ; Records: 1
9/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json ; Records: 1
10/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBOP128F931B50D.json ; Records: 1
11/71 files processed.
File: /workspace/home/data/song_data/A/B/B/TRABBAM128F429D223.json ; Records: 1
12/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json ; Records: 1
13/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCEI128F424C983.json ; Records: 1
14/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCTK128F934B224.json ; Records: 1
15/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCPZ128F4275C32.json ; Records: 1
16/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCFL128F149BB0D.json ; Records: 1
17/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCKL128F423A778.json ; Records: 1
18/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCEC128F426456E.json ; Records: 1
19/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCXB128F4286BD3.json ; Records: 1
20/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCYE128F934CE1D.json ; Records: 1
21/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCIX128F4265903.json ; Records: 1
22/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCUQ128E0783E2B.json ; Records: 1
23/71 files processed.
File: /workspace/home/data/song_data/A/B/C/TRABCRU128F423F449.json ; Records: 1
24/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json ; Records: 1
25/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAIO128F42938F9.json ; Records: 1
26/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAFJ128F42AF24E.json ; Records: 1
27/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAXR128F426515F.json ; Records: 1
28/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAZH128F930419A.json ; Records: 1
29/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAXV128F92F6AE3.json ; Records: 1
30/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAWW128F4250A31.json ; Records: 1
31/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAXL128F424FC50.json ; Records: 1
32/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABATO128F42627E9.json ; Records: 1
33/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABAFP128F931E9A1.json ; Records: 1
34/71 files processed.
File: /workspace/home/data/song_data/A/B/A/TRABACN128F425B784.json ; Records: 1
35/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABLR128F423B7E3.json ; Records: 1
36/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABCL128F4286650.json ; Records: 1
37/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABJL12903CDCF1A.json ; Records: 1
38/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABVM128F92CA9DC.json ; Records: 1
39/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABJV128F1460C49.json ; Records: 1
40/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABDL12903CAABBA.json ; Records: 1
41/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABRB128F9306DD5.json ; Records: 1
42/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABYN12903CFD305.json ; Records: 1
43/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABXG128F9318EBD.json ; Records: 1
44/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABNV128F425CEE1.json ; Records: 1
45/71 files processed.
File: /workspace/home/data/song_data/A/A/B/TRAABYW128F4244559.json ; Records: 1
46/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACTB12903CAAF15.json ; Records: 1
47/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACQT128F9331780.json ; Records: 1
48/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACCG128F92E8A55.json ; Records: 1
49/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACER128F4290F96.json ; Records: 1
50/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACOW128F933E35F.json ; Records: 1
51/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACPE128F421C1B9.json ; Records: 1
52/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACFV128F935E50B.json ; Records: 1
53/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACZK128F4243829.json ; Records: 1
54/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACSL128F93462F4.json ; Records: 1
55/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACHN128F1489601.json ; Records: 1
56/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACIW12903CC0F6D.json ; Records: 1
57/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACVS128E078BE39.json ; Records: 1
58/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACNS128F14A2DF5.json ; Records: 1
59/71 files processed.
File: /workspace/home/data/song_data/A/A/C/TRAACLV128F427E123.json ; Records: 1
60/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAVG12903CFA543.json ; Records: 1
61/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAAW128F429D538.json ; Records: 1
62/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json ; Records: 1
63/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAADZ128F9348C2E.json ; Records: 1
64/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAPK128E0786D96.json ; Records: 1
65/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAFD128F92F423A.json ; Records: 1
66/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAARJ128F9320760.json ; Records: 1
67/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAVO128F93133D4.json ; Records: 1
68/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAABD128F429CF47.json ; Records: 1
69/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAMO128F1481E7F.json ; Records: 1
70/71 files processed.
File: /workspace/home/data/song_data/A/A/A/TRAAAEF128F4273421.json ; Records: 1
71/71 files processed.
****************************************
Number of rows proccesed in song_data: 71
****************************************
30 files found in data/log_data
File: /workspace/home/data/log_data/2018/11/2018-11-04-events.json ; Records: 144
1/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-15-events.json ; Records: 479
2/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-20-events.json ; Records: 322
3/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-12-events.json ; Records: 166
4/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-27-events.json ; Records: 256
5/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-19-events.json ; Records: 276
6/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-25-events.json ; Records: 41
7/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-22-events.json ; Records: 82

8/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-17-events.json ; Records: 127
9/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-28-events.json ; Records: 363
10/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-08-events.json ; Records: 161
11/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-23-events.json ; Records: 239
12/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-16-events.json ; Records: 319
13/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-30-events.json ; Records: 330
14/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-13-events.json ; Records: 339
15/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-10-events.json ; Records: 87
16/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-21-events.json ; Records: 437
17/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-26-events.json ; Records: 216
18/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-02-events.json ; Records: 155
19/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-03-events.json ; Records: 100
20/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-07-events.json ; Records: 174
21/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-24-events.json ; Records: 314
22/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-18-events.json ; Records: 138
23/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-14-events.json ; Records: 390
24/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-01-events.json ; Records: 11
25/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-05-events.json ; Records: 356
26/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-06-events.json ; Records: 154
27/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-29-events.json ; Records: 319
28/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-11-events.json ; Records: 73
29/30 files processed.
File: /workspace/home/data/log_data/2018/11/2018-11-09-events.json ; Records: 252
30/30 files processed.
****************************************
Number of rows proccesed in log_data: 6820
****************************************

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [13]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.time(0, 50, 3, 796000), 99, 'free', None, None, 124, 'Salt Lake City, UT', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, datetime.time(2, 54, 52, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.time(2, 58, 57, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (4, datetime.time(3, 2, 20, 796000), 43, 'free', None, None, 42, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (5, datetime.time(4, 35, 52, 796000), 6, 'free', None, None, 225, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0')]

In [14]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(83, 'Stefany', 'White', 'F', 'free'),
 (77, 'Magdalene', 'Herman', 'F', 'free'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (61, 'Samuel', 'Gonzalez', 'M', 'free'),
 (37, 'Jordan', 'Hicks', 'F', 'free')]

In [15]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005, Decimal('337.68444')),
 ('SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', 2004, Decimal('207.43791')),
 ('SOTCKKY12AB018A141', 'Sonnerie lalaleulé hi houuu', 'ARGSAFR1269FB35070', 0, Decimal('29.54404')),
 ('SOQOTLQ12AB01868D0', 'Clementina Santafè', 'ARGCY1Y1187B9A4FA5', 0, Decimal('153.33832')),
 ('SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)', 'AR36F9J1187FB406F1', 0, Decimal('230.71302'))]

In [16]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR62SOJ1187FB47BB5', 'Chase & Status', '', 'NaN', 'NaN'),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', 'NaN', 'NaN'),
 ('ARGSAFR1269FB35070', 'Blingtones', '', 'NaN', 'NaN'),
 ('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', '36.16778', '-86.77836'),
 ('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', '56.27609', '9.51695')]

In [17]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.time(0, 50, 3, 796000), 0, 4, 44, 11, 2018, '6'),
 (datetime.time(2, 54, 52, 796000), 2, 4, 44, 11, 2018, '6'),
 (datetime.time(2, 58, 57, 796000), 2, 4, 44, 11, 2018, '6'),
 (datetime.time(3, 2, 20, 796000), 3, 4, 44, 11, 2018, '6'),
 (datetime.time(4, 35, 52, 796000), 4, 4, 44, 11, 2018, '6')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

# Checking The Data:
Since this is a subset of the much larger dataset, the solution dataset will only have 1 row with values for value containing ID for both songid and artistid in the fact table. Those are the only 2 values that the query in the sql_queries.py will return that are not-NONE. The rest of the rows will have NONE values for those two variables.

In [18]:
%sql SELECT * FROM songplays where song_id is not null or artist_id is not null

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(4135, datetime.time(21, 56, 47, 796000), 15, 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [19]:
%sql SELECT COUNT(*) FROM users

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(96,)]

In [20]:
%sql SELECT COUNT(*) FROM artists

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(69,)]

In [21]:
%sql SELECT COUNT(*) FROM songs

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [22]:
%sql SELECT COUNT(*) FROM time

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6527,)]

In [23]:
%sql SELECT COUNT(*) FROM songplays

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]