In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:admin@localhost/sparkifydb

# Preguntas An√°lisis de datos

<img src="img/Olap.jpg" width=600 height=600 />

### Top 5 Artistas con mas Canciones

In [3]:
%%sql 
SELECT a.artist_id,
       a.name,
       count(s.song_id) n
FROM songs s
     INNER JOIN artists a ON (s.artist_id = a.artist_id)
GROUP BY 1,2
ORDER BY 3 DESC
limit 5;

 * postgresql://postgres:***@localhost/sparkifydb
5 rows affected.

[('ARNTLGG11E2835DDB9', 'Clp', 2),
 ('ARD7TVE1187B99BFB1', 'Casual', 2),
 ('ARWB3G61187FB49404', 'Steve Morse', 1),
 ('AREDL271187FB40F44', 'Soul Mekanik', 1),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', 1)]

### Dia de la semana en el que se esuchan mas canciones

In [4]:
%%sql 
SELECT case t.weekday
            when '0' then 'Lunes'
            when '1' then 'Martes'
            when '2' then 'Miercoles'
            when '3' then 'Jueves'
            when '4' then 'Viernes'
            when '5' then 'Sabado'
            when '6' then 'Domingo'
            else 'Null'
        end,
       --t.hour,
       count(songplay_id) n_canciones
FROM songplays s
     INNER JOIN time t ON (s.start_time = t.start_time)
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://postgres:***@localhost/sparkifydb
7 rows affected.

[('Lunes', 41785),
 ('Miercoles', 41390),
 ('Martes', 39249),
 ('Jueves', 36683),
 ('Viernes', 34586),
 ('Sabado', 24077),
 ('Domingo', 17158)]

### Cuales usuarios (Nombre y apellido) en la history de la App han escuchado la cancion: 'Streets On Fire (Explicit Album Version)'

In [5]:
%%sql 
SELECT u.first_name,
       u.last_name
FROM users u
     INNER JOIN songplays p ON (u.user_id = p.user_id)
     INNER JOIN songs s ON (p.song_id = s.song_id)
WHERE s.title = 'Streets On Fire (Explicit Album Version)' ;

 * postgresql://postgres:***@localhost/sparkifydb
7 rows affected.

[('Alexander', 'Garcia'),
 ('Brisa', 'Murray'),
 ('Payton', 'Campbell'),
 ('Calvin', 'Marshall'),
 ('Brisa', 'Murray'),
 ('Payton', 'Campbell'),
 ('Alyssia', 'Campbell')]

In [6]:
%%sql
SELECT song_id,
       count(*)
FROM songplays
GROUP BY 1;

 * postgresql://postgres:***@localhost/sparkifydb
8 rows affected.

[('SOCIWDW12A8C13D406', 1),
 ('SODAUVL12A8C13D184', 1),
 ('SODREIN12A58A7F2E5', 3),
 ('SOHKNRJ12A6701D1F8', 2),
 ('SORRZGD12A6310DBC3', 1),
 ('SOWQTQZ12A58A7B63E', 7),
 ('SOZCTXZ12AB0182364', 4),
 (None, 234909)]